<div class="modal fade" id="characterDesignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายละเอียดคอร์สสอน Character Design</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Character Design คอร์สเรียนออกแบบตัวละคร</p>
        <p>สอนตั้งแต่พื้นฐานการออกแบบตัวละคร ท่าทาง เสือ้ผ้า ชุด ส่วนประกอบต่างๆ</p>
        <p>เนือ้หาเข้าใจง่ายทำตามได้ทุกขั้นตอน อธิบายละเอียด สามารถส่งงานให้ผู้สอนตรวจงานและแนะนำได้ตลอดการฝึกค่ะ</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
