<div class="modal fade" id="ipadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายละเอียดคอร์สสอนวาดภาพด้วย iPad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <p>สอนตั้งแต่แกะกล่อง ลงแอพ และพื้นฐานการใช้ปากกา Apple Pencil</p>
        <p>ผู้เรียนสามารถวาดรูปได้ด้วยแอพ ทำตามได้ทุกขั้นตอน จากพื้นฐาน</p>
        <p>และต่อยอดนำทักษะใช้ในด้านอื่นๆได้</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
