<div class="modal fade" id="mangaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายละเอียดคอร์สสอนวาดภาพ Manga</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <p>MANGA วาดการ์ตูนญี่ปุ่น</p>
        <p>เนื้อหาเป็นคลิปสอนจากกลุ่ม Live Facebook ความยาวเนื้อหาละ 120 นาที</p>
        <p>มีการบ้านให้ทำท้ายคลิป ผู้เรียนสามารถส่งงานให้ Comment ได้ทางแชทเพจด้วยนะคะ</p>
        <ul>
          <li>1 คอร์สมี 4 เนื้อหา ราคา 2,500 บาท</li>
          <li>เนื้อหาละ 2 ชั่วโมง เป็น VDO จากการ Live Facebook</li>
          <li>ส่งงานให้ comment ได้ ทางแชทเพจ</li>
          <li>สอบถามเรื่องเทคนิคได้หากเจอปัญหาระหว่างฝึกวาด</li>
        </ul>

        <h6>เนื้อหา</h6>
        <ol>
          <li>สอนวาดสัดส่วน และออกแบบตัวละครสไตล์ Manga</li>
          <li>สอนวาด หน้าตา และการแสดงอารมณ์ของตัวละครสไตล์ Manga</li>
          <li>สอนวาดเสื้อผ้า ชุด และอาวุธสำหรับตัวละคร สไตล์ Manga</li>
          <li>สอนวาดฉาก BG สไตล์ Manga</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
