<div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">รายละเอียดคอร์สสอนวาดภาพ Portrait</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <p>คอร์ส Digital Painting วาดภาพ PORTRAIT วาดภาพเน้นบุคคล</p>
        <p>เราแนะนำ คอร์สเรียน Portrait พื้นฐาน นะคะ สอนตั้งแต่การวาดโครงหน้า จนถึงเก็บรายละเอียด แต่ละจุดให้สมจริงเลยค่ะ</p>
        <p>เรามีไฟล์ PSD ที่คุณเอาไปทำตาม ดูการจัดการขั้นตอนทำงานได้เลยค่ะ</p>
        <ul>
          <li>1 คอร์สมี 6 เนื้อหา ราคา 2,500 บาท</li>
          <li>เนื้อหาละ 2 ชั่วโมง  VDO HD</li>
          <li>ส่งงานให้ comment ได้</li>
          <li>มีไฟล์ PSD ให้ดู</li>
          <li>มีการบ้านให้ทุกเนื้อหา</li>
          <li>สอบถามเรื่องเทคนิคได้ผ่านแชท Facebook หากเจอปัญหาขณะเรียน</li>
        </ul>

        <h6>เนื้อหา</h6>
        <ol>
          <li>ขึ้นโครงหน้าทรงเหลี่ยม</li>
          <li>เกลี่ยน้ำหนัก แสง เงา</li>
          <li>Sketch มุมต่างๆ</li>
          <li>วาดบุคคลสำคัญ ดารา</li>
          <li>ลงสีจากงานขาว-ดำ</li>
          <li>เก็บรายละเอียดงาน</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
