<div class="">
  <div class="row">
    <div class="col-sm-8 col-xs-12 offset-sm-8">
      <div class="sales-ads-wrapper">
        <p>
          รับทำ Sale Page เพื่อเน้นการปิดการขาย ร่วมกับโฆษณา Google<br>
          รับทำเว็บไซต์ สำหรับทำการตลาดออนไลน์โดยเฉพาะ<br>
          วิเคราะห์เส้นทางการตัดสินใจของลูกค้าภายในเว็บไซต์<br>
          ให้เว็บไซต์คุณได้ใช้งานจริง
        </p>

        <div>
          <%= link_to "อยากมี Sale Page เป็นของตัวเอง Line@ คลิก !", "http://line.me/ti/p/~digitalpainting",
              class: 'btn btn-line btn-block' %>
        </div> <!-- .text-right -->

      </div> <!-- .sales-ads-wrapper -->
    </div> <!-- .col-sm-8 col-xs-12 -->
    <div class="col-sm-4 col-xs-12">
    </div> <!-- .col-sm-4 col-xs-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
