<div class="modal fade" id="digitalPaintingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Digital Painting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="courses-table">
          <tbody>
            <tr>
              <td colspan="2" class="courses-name">
                <h5>Digital Painting 1 พื้นฐาน</h5>
              </td>
            </tr>
            <tr>
              <td>เนื้อหา 1: </td><td>เรียนรู้การใช้เครื่องมือ การตั้งค่าทำงานเบื้องต้น</td>
            </tr>
            <tr>
              <td>เนื้อหา 2: </td><td>ฝึก Sketch สำหรับงาน Digital Painting</td>
            </tr>
            <tr>
              <td>เนื้อหา 3: </td><td>การเกลี่ยสีและพื้นผิว</td>
            </tr>
            <tr>
              <td>เนื้อหา 4: </td><td>เรียนรู้การทำงานด้วย Layer Overlay และ Clipping Mask</td>
            </tr>
            <tr>
              <td>เนื้อหา 5: </td><td>เส้นและสี</td>
            </tr>
            <tr>
              <td>เนื้อหา 6: </td><td>สีและการเกลี่ยสี</td>
            </tr>
            <tr>
              <td colspan="2" class="courses-name">
                <h5>Digital Painting 2 พัฒนาฝีมือ</h5>
              </td>
            </tr>
            <tr>
              <td>เนื้อหา 7: </td><td>ทำงานขาวดำ และลงสีด้วย Overlay</td>
            </tr>
            <tr>
              <td>เนื้อหา 8: </td><td>สร้าง BG และ มีตัวละครใน ฉาก</td>
            </tr>
            <tr>
              <td>เนื้อหา 9: </td><td>เก็บรายละเอียด BG และ เขียน BG ด้วยสี</td>
            </tr>
            <tr>
              <td>เนื้อหา 10: </td><td>กายวิภาค Anatomy</td>
            </tr>
            <tr>
              <td>เนื้อหา 11-1: </td><td>Perspective 1จุด และวาดคนเข้าเปอร์</td>
            </tr>
            <tr>
              <td>เนื้อหา 11-2: </td><td>Perspective 2, 3 จุด</td>
            </tr>
            <tr>
              <td colspan="2" class="courses-name">
                <h5>Digital Painting 3 มืออาชีพ</h5>
              </td>
            </tr>
            <tr>
              <td>เนื้อหา 13: </td><td>เรียนรู้การใช้ Texture ช่วยให้งานเร็วและสมจริงมากขึ้น</td>
            </tr>
            <tr>
              <td>เนื้อหา 14: </td><td>ฝึกวาดตามแบบรูปปั้นยุโรป เพื่อเช็คแสงเงาและรอยยับย่นของผ้า</td>
            </tr>
            <tr>
              <td>เนื้อหา 15: </td><td>Matte Painting เรียนรู้การทำงานเพ้นท์กับภาพจริง สำหรับงานสมจริง</td>
            </tr>
            <tr>
              <td>เนื้อหา 16: </td><td>วาดการ์ตูนสไตล์ Manga 2ส่วน เริ่มต้น</td>
            </tr>
            </tr>
              <td>เนื้อหา 17: </td><td>เรียนรู้การวาดพื้นผิวโลหะ สมจริง</td>
            </tr>
            <tr>
              <td>เนื้อหา 18: </td><td>เก็บรายละเอียดงานให้สมบูรณ์ วาดโลหะ</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
