<!-- The modal -->
<div class="modal fade" id="modalResult" tabindex="-1"
  role="dialog" aria-labelledby="modalResult" aria-hidden="true"
  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>

      <div class="modal-body submit-result text-center mb-4">
        <h5 class="loading text-muted">
          <i class="fas fa-spinner fa-spin"></i> กำลังส่ง...</i>
        </h5> <!-- .loading -->
        <span class="text-success submit-success">
          ข้อมูลได้ถูกจัดส่งเรียบร้อยแล้ว
        </span>
        <span class="text-danger validation-failed">
          กรุณาตรวจสอบความถูกต้องของฟอร์มอีกครั้ง
        </span>
        <span class="text-danger" data-error="file_extension_not_allowed">
          <br>- อนุญาติเฉพาะไฟล์สกุล jpeg, jpg, gif, png เท่านั้น
        </span>
        <span class="text-danger" data-error="file_size_exceed_maximum">
          <br>- ขนาดไฟล์ต้องไม่เกิน 10MB
        </span>
        <span class="text-danger submit-error">
          เกิดข้อผิดพลาดในการจัดส่งอีเมล์กรุณาลองใหม่อีกครั้ง
        </span>
      </div>
    </div>
  </div>
</div>
