<ul class="nav justify-content-end" id="landing-nav">
  <li class="nav-item">
    <span class="nav-link" data-target="#courses">
      <%= data.courses.title %></span>
  </li>
  <li class="nav-item">
    <a class="nav-link"  data-target="#step-to-apply">
      <%= data.apply.title %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-target="#question-answer">
      <%= data.faq.title %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Chat เลย</a>
  </li>
</ul>
