<div class="container pt-5 mb-5" id="why-we-need-to-study">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h2>ทำไมต้อง ศิลปะออนไลน์</h2>
      <p>
        <ul>
          <li>ศิลปะดิจิตอล เรียนที่ไหน เมื่อไหร่ก็ได้</li>
          <li>ฝึกฝนด้วยตัวเอง ตั้งแต่พื้นฐาน เข้าใจง่ายแม้ไม่เคยวาดรูปมาก่อน</li>
          <li>ราคาประหยัดกว่าการเรียนที่สถาบันสอนถึง 3 เท่า</li>
          <li>โหลดเนื้อหาไว้ดูซ้ำๆได้ เพื่อความเข้าใจที่ชัดเจน</li>
          <li>ส่งงานให้ผู้สอนตรวจได้ตลอดการฝึกฝน 1 ปี</li>
          <li>เนื้อหาทั้งหมด ถ่ายทอดจากประสบการณ์ทำงานมากกว่า 10 ปี</li>
          <li>ระหว่างการฝึก สามารถส่งคำถามที่แชทเพจได้ ตลอดเวลา</li>
          <li>VDO เวลาจริง เพื่อความชัดเจนในการฝึกตาม ไม่เร่งเวลา</li>
          <li>เนื้อหาเข้าใจง่าย ทำตามได้ทุกขั้นตอน</li>
        </ul>
      </p>
      <p class="d-none">
        หลายคนชอบฝึกฝน เรียนรู้ ทำงานศิลปะ แต่ไม่มีเวลาเรียน หรือไม่สะดวกเดินทาง ทั้งค่าคอร์สที่แพง และต้องรอเรียนพร้อมคนอื่น ปัญหาเหล่านี้เราเจอมาตลอดการสอนที่ผ่านมากว่า 10 ปี จึงคิดค้นหลักสูตรที่เป็นสถาบันแรกที่ทำคอร์สศิลปะออนไลน์<br><br>

        คอร์สเรียน ทุกคอร์ส จัดทำขึ้นโดยศิลปิน นักออกแบบสร้างสรรค์ ที่มีประสบการณ์ทำงานมากกว่า 10 ปี ปัจจุบัน ดำรงตำแหน่ง กรรมการผู้จัดการบริษัท และนักออกแบบสร้างสรรค์ มีรางวัลการันตีมากมาย<br><br>

        เราถ่ายทอดเนื้อหาด้วยประสบกาณ์และความเข้าใจ ยึดผู้เรียนเป็นสำคัญในการจัดทำเนื้อหา เพื่อประโยชน์สูงสุดของการเรียนรู้ พัฒนา และฝึกฝน จนผู้เรียนสามารถนำไปประยุกต์ใช้  ในสายงาน อาชีพ ที่ชื่นชอบได้ต่อไป
      </p>
    </div> <!-- .col-md-6 col-xs-12 -->
    <div class="col-md-6 col-xs-12">
      <%= image_tag "why_learn_online.jpg", width: '100%', style: 'padding: 20px 0' %>
    </div> <!-- .col-md-6 col-xs-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
