<div class="container">
  <h2>ทำไมถึงต้องเรียน</h2>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
        หลายคนชอบฝึกฝน เรียนรู้ ทำงานศิลปะ แต่ไม่มีเวลาเรียน หรือไม่สะดวกเดินทาง ทั้งค่าคอร์สที่แพง และต้องรอเรียนพร้อมคนอื่น ปัญหาเหล่านี้เราเจอมาตลอดการสอนที่ผ่านมากว่า 10 ปี จึงคิดค้นหลักสูตรที่เป็นสถาบันแรกที่ทำคอร์สศิลปะออนไลน์<br><br>

        คอร์สเรียน ทุกคอร์ส จัดทำขึ้นโดยศิลปิน นักออกแบบสร้างสรรค์ ที่มีประสบการณ์ทำงานมากกว่า 10 ปี ปัจจุบัน ดำรงตำแหน่ง กรรมการผู้จัดการบริษัท และนักออกแบบสร้างสรรค์ มีรางวัลการันตีมากมาย<br><br>

        เราถ่ายทอดเนื้อหาด้วยประสบกาณ์และความเข้าใจ ยึดผู้เรียนเป็นสำคัญในการจัดทำเนื้อหา เพื่อประโยชน์สูงสุดของการเรียนรู้ พัฒนา และฝึกฝน จนผู้เรียนสามารถนำไปประยุกต์ใช้  ในสายงาน อาชีพ ที่ชื่นชอบได้ต่อไป
      </p>
    </div> <!-- .col-md-6 col-xs-12 -->
    <div class="col-md-6 col-xs-12">
    </div> <!-- .col-md-6 col-xs-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
