<%= partial 'nav' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>นโยบายความเป็นส่วนตัว</h3>
      <br/>
      <p class="mb-4">
        เราให้คำมั่นในการปฏิบัติอย่างเคร่งครัดในการให้ความสำคัญกับความเป็นส่วนตัวของลูกค้า
        เรารับรองในการปกป้องความลับของท่านและใช้ข้อมูลส่วนตัวของท่านตามที่กำหนดไว้ต่อไปนี้
      </p>
      <p class="mb-4">
        เราจะใช้ข้อมูลส่วนตัวของท่านสำหรับกิจการที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้เท่านั้น
        เราจะจัดเก็บข้อมูลเพียงเท่าที่จำเป็นสำหรับการดำเนินการดังกล่าว
        เราจะจัดเก็บข้อมูลที่เกี่ยวข้องกับการติดต่อทางธุรกิจระหว่างเรากับท่านเท่านั้น
        เราจะจัดเก็บข้อมูลของท่านในระยะเวลาเท่าที่กฎหมายอนุญาตให้กระทำหรือในระยะเวลาที่จำเป็นต่อวัตถุประสงค์ของการจัดเก็บข้อมูลนั้นๆ
        ท่านสามารถเข้าถึงเวปไซต์และเลือกชมสินค้าโดยไม่จำเป็นต้องกรอกข้อมูลส่วนตัวใดๆ
        ระหว่างที่ท่านเข้าชมเวปไซต์สถานะของท่านจะไม่ถูกเปิดเผยหรือระบุตัวตนของท่าน
        เว้นแต่ท่านจะเข้าสู่ระบบโดยใช้ชื่อบัญชีและรหัสผ่านของท่าน
      </p>
      <p class="mb-4">
        นโยบายความเป็นส่วนตัวอาจมีการแก้ไขเป็นครั้งคราวโดยการประกาศปรับปรุงให้ทันสมัย
        โดยท่านสามารถตรวจเช็คนโยบายความเป็นส่วนตัวฉบับล่าสุดได้เสมอจากบนเวปไซต์
      </p>
      <p class="mb-2">
        การจัดเก็บและการใช้ข้อมูลส่วนตัว
      </p>
      <p class="mb-4">
        เมื่อท่านสร้างบัญชีกับเรา ข้อมูลที่เราจัดเก็บอาจรวมถึงข้อมูลต่างๆต่อไปนี้ ชื่อ ที่อยู่ในการจัดส่งสินค้า
        อีเมล หมายเลขโทรศัพท์ วันเดือนปีเกิด เพศ ข้อมูลบัตรเครดิตเพื่อการชำระค่าสินค้า เป็นต้น
        ท่านจะแจ้งข้อมูลแก่เรา ตัวแทนผู้รับมอบอำนาจจากเรา หรือส่งเข้าระบบ และข้อมูลนั้นต้องเป็นข้อมูลที่ถูกต้อง
        ครบถ้วน และท่านจะต้องแก้ไขข้อมูลให้เป็นปัจจุบัน เราสงวนสิทธิที่จะร้องขอเอกสารเพิ่มเติมจากท่านเพื่อยืนยันความถูกต้องของข้อมูล
        เราจะจัดเก็บข้อมูลที่ท่านส่งมอบด้วยความสมัครใจเท่านั้นและท่านสามารถเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวของท่าน
        ในกรณีนี้เราอาจไม่สามารถให้บริการแก่ท่านได้ในบางส่วน
        เราจะใช้ข้อมูลของท่านหรือส่งต่อแก่บริษัทที่เกี่ยวข้องหรือผู้ให้บริการภายนอกเพื่อวัตถุประสงค์ในการให้บริการ
        การสอบทวนสถานการณ์ชำระเงิน การสื่อสารเพื่อแจ้งสิทธิประโยชน์แก่ท่าน
        การวิเคราะห์ข้อมูลทางการตลาดเพื่อช่วยให้เราให้บริการท่านได้ดียิ่งขึ้น
        การวิจัยเพื่อปรับปรุงการบริการ การสืบค้นทางอาชญากรรมที่ถูกกำหนดโดยกฎหมาย
        เราจะไม่นำข้อมูลของท่านไปทำการค้าข้อมูลส่วนตัวแก่บุคคลภายนอกโดยเด็ดขาด
      </p>
      <p class="mb-2">
        การสอบถามและการเพิกถอนความยินยอม
      </p>
      <p class="mb-4">
        ท่านอาจแจ้งความประสงค์ในการเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวของท่านแก่เราได้ตลอดเวลา
        โดยสามารถติดต่อผ่านอีเมลที่ระบุไว้ด้านล่าง ทั้งนี้การเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวอาจทำให้เราไม่สามารถให้บริการแก่ท่านตามที่สัญญาได้
        เราขอสงวนสิทธิทางกฎหมายและการเยียวยาในกรณีที่เราไม่สามารถจัดส่งสินค้าหรือให้บริการแก่ท่านอันได้เกิดจากการเพิกถอนความยินยอม
        หากท่านมีข้อซักถามเกี่ยวกับนโยบายความเป็นส่วนตัว สามารถติดต่อได้ที่:
      </p>
      <ol>
        <li>ติดต่อเจ้าหน้าที่ทาง Facebook Chat message</li>
        <li>ส่งอีเมลมาที่ <%= mail_to "pandetonlinethailand@gmail.com" %></li>
      </ol>
    </div> <!-- .col-sm-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<%= partial "footer" %>
