---
title: ข้อกำหนดและเงื่อนไขการใช้บริการ | Pandet Online
---


<%= partial 'nav' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>ข้อกำหนดและเงื่อนไขการใช้บริการสั่งซื้อสินค้าและ/หรือบริการบนเว็บไซต์</h3>
      <br/>
      <p class="mb-4">
        ผู้ซื้อควรศึกษาข้อกำหนดและเงื่อนไขนี้และ/หรือข้อตกลงอื่นใดที่ Pandet Online Thailand
        จะได้แจ้งให้ทราบบนเว็บไซต์ให้ละเอียดก่อนการเข้าใช้บริการบนเว็บไซต์
        เนื่องจากในทันทีที่มีการเข้าใช้เว็บไซต์เพื่อวัตถุประสงค์ในการสั่งซื้อ
        สินค้าและ/หรือบริการ จะถือว่าผู้ซื้อยอมรับและตกลงที่จะปฏิบัติตามข้อกำหนดและเงื่อนไขนี้ทั้งปวง
      </p>
      <p class="mb-4 indent-1">
        ข้อ 1. ผู้ซื้อจะให้ข้อมูลส่วนบุคคลที่ถูกต้อง ตรงต่อความเป็นจริง สมบูรณ์ และเป็นปัจจุบันที่สุด
        เพื่อการขอลงทะเบียนเป็นสมาชิกผู้ซื้อ และจะปรับปรุงแก้ไขข้อมูลดังกล่าวในทันทีที่มีการเปลี่ยนแปลงในเวลาใดๆ
      </p>
      <p class="mb-4 indent-1">
        ข้อ 2. ผู้ซื้อจะรักษาข้อมูลส่วนตัวและข้อมูลที่เกี่ยวข้องกับการซื้อขายไว้เป็นความลับ ทั้งนี้
        หากผู้ซื้อมอบหรืออนุญาตให้บุคคลใดนำข้อมูลส่วนบุคคล และ/หรือ ข้อมูลที่เกี่ยวข้องกับการซื้อขาย
        ของผู้ซื้อไปใช้ ให้ถือว่าการกระทำการใดๆ บนเว็บไซต์ โดยผู้อื่นเป็นการกระทำของผู้ซื้อเองและมีผลผูกพันทางกฎหมายกับ ผู้ซื้อทั้งปวง
      </p>
      <p class="mb-4 indent-1">
        ข้อ 3. ในกรณีที่ผู้ซื้อหรือบุคคลที่กล่าวในข้อ 2 ใช้สิทธิไปในทางที่ก่อให้เกิดความเสียหายต่อผู้ซื้อรายอื่นหรือ
        Pandet Online Thailand ผู้ซื้อตกลงที่จะรับผิดชอบต่อความเสียหายที่เกิดขึ้นนั้นเต็มจำนวน
      </li>
      <p class="mb-2 indent-1">
        ข้อ 4. เว็บไซต์มีสิทธิในการเพิกถอนการเป็นสมาชิกของผู้ซื้อได้ทันที โดยไม่ต้องแจ้งให้ผู้ซื้อทราบล่วงหน้า
        หาก Pandet Online Thailand ว่ามีการกระทำดังต่อไปนี้
      </p> <!-- .mb-4 -->
      <p class="mb-2 indent-2">
        (4.1) ผู้ซื้อให้ข้อมูลที่เป็นเท็จในการลงทะเบียนและ/หรือไม่ได้แก้ไขปรับปรุงข้อมูลให้ถูกต้องในข้อ 1
      </p> <!-- .mb-2 indent-2 -->
      <p class="mb-2 indent-2">
        (4.2) ผู้ซื้อเปิดเผย ข้อมูลที่เกี่ยวข้องกับการซื้อขาย ให้บุคคลอื่น
      </p> <!-- .mb-2 indent-2 -->
      <p class="mb-4 indent-2">
        (4.3) ผู้ซื้อกระทำการใดๆ ที่ขัดต่อกฎหมายหรือศีลธรรมอันดีของประชาชน หรือมีเหตุอันควรเชื่อว่าผู้ซื้อเข้าใช้บริการบนเว็บไซต์โดยมีเจตนาทุจริต
      </p> <!-- .mb-4 indent-2 -->
      <div class="mb-4 indent-1">
        ข้อ 5. เว็บไซต์ไม่รับประกันความถูกต้อง ความสมบูรณ์ และความเพียงพอของเนื้อหาที่ปรากฏบนเว็บไซต์
        และไม่รับผิดชอบต่อความล่าช้า การขาดความต่อเนื่องของการใช้บริการ การรบกวนหรือข้อผิดพลาดใดๆ
        ในระหว่างการใช้งาน แต่อย่างไรก็ตาม เว็บไซต์ยินดีที่จะรับคืนสินค้า กรณีที่พบว่าสินค้าที่สมาชิกซื้อไปแล้ว
        มีลักษณะที่ไม่ตรงกับคำบรรยายอย่างชัดเจน (ตามเงื่อนไขการส่งคืนสินค้า)
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 6. การส่งคืนสินค้าและขอรับเครดิตเงินคืน จะสามารถกระทำได้ภายใน 30 วันหลังจากวันที่รับสินค้า
        โดยสินค้าดังกล่าวจะต้องอยู่ในสภาพเหมือนใหม่ และมีบรรจุภัณฑ์ครบถ้วนพร้อมใบเสร็จเท่านั้น
        สมาชิกจะต้องแจ้งให้เว็บไซต์ทราบล่วงหน้าและเป็นผู้รับผิดชอบต่อค่าขนส่งในการส่งของคืนทั้งหมด
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 7. เว็บไซต์มีสิทธิแก้ไข เปลี่ยนแปลง หรือยกเลิกข้อกำหนดและเงื่อนไขนี้ทั้งหมดหรือบางส่วน
        โดยไม่ต้องแจ้งให้ผู้ซื้อทราบล่วงหน้า
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 8. ผู้ซื้อยอมรับและตกลงว่าเครื่องหมายบริการ แนวคิด รูปแบบในการนำเสนอ เนื้อหา
        รวมถึงซอฟท์แวร์ รหัสต้นทางและรหัสปลายทาง ที่ได้จัดทำหรือพัฒนาขึ้น เพื่อการให้บริการสั่งซื้อสินค้าและ/หรือบริการ
        เป็นของ  Pandet Online Thailand และถือเป็นงานที่ได้รับความคุ้มครองโดยกฎหมายทรัพย์สินทางปัญญา
        ซึ่งห้ามผู้ใดทำการลอกเลียนแบบ ทำซ้ำ หรือดัดแปลงไม่ว่าทั้งหมดหรือบางส่วน
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        นอกจากนั้น ผู้ซื้อรับทราบว่า ผู้ซื้อสามารถใช้ทรัพย์สินทางปัญญาข้างต้นเพื่อการสั่งซื้อสินค้าและ/หรือ
        บริการบนเว็บไซต์เท่านั้น และจะไม่ดำเนินการใดๆ ที่เป็นการละเมิดทรัพย์สินทางปัญญาดังกล่าวไม่ว่าโดยวิธีการใดๆ
        ก็ตาม ทั้งนี้ หากเว็บไซต์พบว่ามีการละเมิดเกิดขึ้น
        เว็บไซต์มีสิทธิยกเลิกการเป็นสมาชิกของผู้ซื้อเป็นการชั่วคราวหรือถาวรตาม ที่เว็บไซต์เห็นสมควร
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 9. หลังจากทำการสั่งซื้อแล้ว คุณจะได้รับสินค้าภายใน 2-3 วันทำการ ในเขตพื้นที่ 4 จังหวัด คือ
        กรุงเทพมหานคร, สมุทรปราการ, ปทุมธานี, นนทบุรี และภายใน 3 – 5 วันทำการ ในเขตพื้นที่อื่นๆ
        (ขึ้นอยู่กับพื้นที่จัดส่ง สภาพการจราจร บางครั้งอาจเกิดความล่าช้า)
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 10. ในกรณีที่ผู้ซื้อได้ชำระเงินด้วยบัตรเครดิต และได้รับสินค้าและ/หรือบริการจากเว็บไซต์ไปแล้ว
        แต่ปรากฏในภายหลังว่าธนาคารไม่สามารถเรียกเก็บเงินจากผู้ซื้อได้ไม่ว่าด้วยสาเหตุใดๆ ก็ตาม
        ผู้ซื้อยินยอมส่งคืนสินค้าให้แก่เว็บไซต์ในสภาพที่เป็นอยู่พร้อม กับค่าใช้สินค้าจนถึงวันที่ส่งคืน
        และ/หรือชดใช้ค่าเสียหายในการใช้สินค้าและ/หรือบริการตามที่เว็บไซต์ประเมิน
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 11. บรรดาการบอกกล่าวหรือการติดต่อสื่อสารด้วยหนังสือ จดหมาย และเอกสารใดๆ
        รวมถึงจดหมายหรือข้อความทางอิเล็กทรอนิกส์ ให้ถือว่าส่งโดยถูกต้องและสมบูรณ์เมื่อได้ส่งไปยังที่อยู่ของเว็บไซต์ที่
        ระบุไว้ในตอนต้นของข้อกำหนดและเงื่อนไขนี้
        และที่อยู่ของผู้ซื้อในหลักฐานการลงทะเบียน หรือที่อยู่อิเล็กทรอนิกส์ที่ทั้งสองฝ่ายได้แจ้งให้ทราบ
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ทั้งนี้ ทั้งสองฝ่ายยอมรับว่าบรรดาหนังสือ จดหมาย หรือเอกสารใดๆ รวมถึงข้อมูลหรือข้อความทางอิเล็กทรอนิกส์
        สามารถใช้เป็นหลักฐานในการพิสูจน์มูลหนี้และการใช้บริการ โดยทั้งสองฝ่ายจะไม่โต้แย้งใดๆ ทั้งสิ้น
      </div> <!-- .mb-4 indent-1 -->
      <div class="mb-4 indent-1">
        ข้อ 12. การที่เว็บไซต์ไม่ใช้สิทธิ หรือประวิงการใช้สิทธิ หรืออำนาจใดๆ ตามที่ระบุไว้ในข้อกำหนดและเงื่อนไขนี้ในครั้งหนึ่งครั้งใด
        ไม่ถือว่าเว็บไซต์สละสิทธิในเรื่องดังกล่าวตลอดไป
      </div> <!-- .mb-4 indent-1 -->
    </div> <!-- .col-sm-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<%= partial "footer" %>
